<nav class="navbar nabvar-expand navbar-light bg-light">
  <a class="navbar-brand">{{ title }}</a>
  <ul class="nav nav-pills">
    <li><a class="nav-link" [routerLink]="['/welcome']">Home</a></li>
    <li><a class="nav-link" routerLink="/products">Product List</a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<div>
  <small
    >Following tutorial by
    <a
      href="https://github.com/adamip/DeborahK_Angular2_GettingStarted"
      target="_blank"
    >
      github Repo</a
    >
  </small>
</div>
